<nav class="navbar navbar-expand-md topnav nav2 mb-5">
    <div class="container">
        <button class="navbar-toggler order-3" type="button" data-toggle="collapse" data-target=".dual-nav2">
            <span class="navbar-toggler-icon" style="background-image:url('/pic/ico/nav-ico.svg')"></span>
            &ensp;⇅ озеленяване
        </button>

        <div class="navbar-collapse collapse dual-nav2 order-2 justify-content-center">
            <ul class="nav navbar-nav">
                <li class="nav-item">
                    <a id="planting2" class="nav-link" href="{{ path('ozeleniavane') }}">ОЗЕЛЕНЯВАНЕ</a>
                </li>
                <li class="nav-item">
                    <a id="project" class="nav-link" href="{{ path('proektirane') }}">Проектиране</a>
                </li>
                <li class="nav-item">
                    <a id="water" class="nav-link" href="{{ path('polivni_sistemi') }}">Поливни системи</a>
                </li>
                <li class="nav-item">
                    <a id="executing" class="nav-link" href="{{ path('izpalnenie') }}">Изпълнение</a>
                </li>
                <li class="nav-item">
                    <a id="support" class="nav-link" href="{{ path('poddrujjka') }}">Поддръжка</a>
                </li>
                <li class="nav-item">
                    <a id="work" class="nav-link" href="{{ path('kak_rabotim') }}">Как работим</a>
                </li>
                <li class="nav-item">
                    <a id="prices" class="nav-link" href="{{ path('ceni_srokove') }}">Цени и срокове</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
