{% extends 'base.html.twig' %}

{% block header %} {% endblock %}
{% block title %} {% endblock %}

{% block body %}
    {% set msg, color = 'ВЪВЕЖДАНЕ НА НОВО РАСТЕНИЕ', '#5eb5e0' %}
    {% if edit == true %}
    {% set msg, color = 'ПРОМЯНА НА РАСТЕНИЕ', '#718C00' %}
    {% endif %}
    <div class="container mt-5 mb-5">
        <div class="row">
            <div class="col-md-3">
                {{ form(form1) }}
                {% if pic is not empty %}
                    <div>
                        <img src="{{ pic }}" style="max-width: 100%">
                    </div>
                {% endif %}
            </div>
            <div class="col-md-9">
                <div class="text-center mb-3" style="height: 22px;width: 100%;font-weight:bold;background-color:{{ color }} ">
                    {{ msg }}
                </div>
                {{ form(form) }}
                <a class="btn btn-secondary" href="{{ path('decorcvet') }}">Отказвам се</a>
            </div>
        </div>
    </div>
{% endblock %}
