{% extends 'base.html.twig' %}

{% block title %}Декор Цвет градински център{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="/lightgallery/css/lightgallery.css">
    <style>
        .thumb {
            width: 200px;
            height: 200px;
            overflow: hidden;
            margin-right: 22px;
            margin-bottom: 22px;
            box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4);
        }
    </style>
{% endblock %}

{% block javascripts %}
    {% set active = ['gallery'] %}
    {{ parent() }}

    <script src="/lightgallery/js/lightgallery.min.js"></script>
    <script src="/lightgallery/js/lg-thumbnail.min.js"></script>
    <script>
        lightGallery(document.getElementById('lightgallery'), {
            download: false,
            // thumbnail: false,
            showThumbByDefault: false
            // selector: '.item'
        });
        lightGallery(document.getElementById('lightgallery2'), {
            download: false,
            // thumbnail: false,
            showThumbByDefault: false
            // selector: '.item'
        });
    </script>
{% endblock %}


{% block body %}
    <div class="container my-100">
        <div class="bl mb-5">
            <h2>Снимки от градинските центрове</h2>
        </div>
        <div class="my-5">
            <h3>Нов градински център на изхода на с.Труд в посока Карлово</h3>
            <div class="row" id="lightgallery" style="margin: 0;">
                {% for img in images %}
                    <a href="/galleries/{{ imgDir }}/{{ img }}">
                        <div class="thumb">
                            <img class="mr-4 mb-4" src="/galleries/{{ imgDir }}/thumb/{{ img }}" style="min-height: 100%; min-width: 100%;">
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
        {% if images2|length > 0 %}
        <div class="my-5">
            <h3>Градинския център на изхода на с.Труд в посока Пловдив</h3>
            <div class="row" id="lightgallery2" style="margin: 0;">
                {% for img in images2 %}
                    <a href="/galleries/{{ imgDir2 }}/{{ img }}">
                        <div class="thumb">
                            <img class="mr-4 mb-4" src="/galleries/{{ imgDir2 }}/thumb/{{ img }}" style="min-height: 100%; min-width: 100%;">
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
        {% endif %}
    </div>
{% endblock %}