{% extends 'base.html.twig' %}

{% block title %}Декор Цвет градински център{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="/lightgallery/css/lightgallery.css">
    <style>
        .thumb {
            width: 200px;
            height: 200px;
            overflow: hidden;
            margin-right: 22px;
            margin-bottom: 22px;
            box-shadow: 0 3px 3px rgba(0, 0, 0, 0.4);
        }
    </style>
{% endblock %}

{% block javascripts %}
    {% set active = ['gallery'] %}
    {{ parent() }}

    <script src="/lightgallery/js/lightgallery.min.js"></script>
    <script src="/lightgallery/js/lg-thumbnail.min.js"></script>
    {#<script src="/lightgallery/js/lg-zoom.min.js"></script>#}
    {#<script src="/lightgallery/js/lg-fullscreen.min.js"></script>#}

    <script> lightGallery(document.getElementById('lightgallery'), {
            download: false,
            // thumbnail: false,
            showThumbByDefault: false
            // selector: '.item'
        });
    </script>
{% endblock %}

{#
{% block bigpic %}
    {% embed 'partials/big_pic.html.twig' with {
        'big_pic': big_pic,
        'h1': h1,
    } %}
    {% endembed %}
{% endblock %}
#}

{#
resize:
thumb width: 250 px
image height: 800 px
#}

{% block body %}
    <div class="container my-100">
        <div class="bl mb-5">
            <h2>{{ h2 }}</h2>
        </div>
        <div class="my-5">
            <div class="row" id="lightgallery" style="margin: 0;">
                {% for img in images %}
                    {#<div class="col-md-3 my-3">#}
                    <a href="/galleries/{{ imgDir }}/{{ img }}">
                        <div class="thumb">
                            <img class="mr-4 mb-4" src="/galleries/{{ imgDir }}/thumb/{{ img }}" style="min-height: 100%; min-width: 100%;">
                        </div>
                        {#<div class="thumb item" style="background-image: url('/galleries/{{ imgDir }}/thumb/{{ img }}')"></div>#}
                    </a>
                    {#</div>#}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}