{% extends 'base.html.twig' %}

    {% block title %}Декор Цвет галерия проекти{% endblock %}

{% block javascripts %}
    {% set active = ['gallery'] %}
    {{ parent() }}
{% endblock %}

{% block bigpic %}
    {% embed 'partials/big_pic.html.twig' with {
        'big_pic': 'bigpic_galeria-proekti.jpg',
        'h1': 'ИЗПЪЛНЕНИ <br>ПРОЕКТИ ЗА <br>ОЗЕЛЕНЯВАНЕ',
    } %}
    {% endembed %}
{% endblock %}


{% block body %}
    <div class="container my-100">
        <div class="bl mb-5">
            <h2>Тази секция е все още в процес на доработка</h2>
            <p>Очаквайте скоро</p>
        </div>
    </div>

{#

    <div class="container my-100">
        <div class="bl mb-5">
            <h2>{{ category.name }}</h2>
        </div>
        {% if products is null %}
            <h3 style="color: #008E00;">В момента не можем да ви предложим {{ category.name|lower }}</h3>
        {% else %}
            <div class="row">
                {% set col = 'col-md-3' %}
                {% if products|length < 3 %}
                    {% set col = 'col-md-6' %}
                {% elseif products|length < 4 %}
                    {% set col = 'col-md-4' %}
                {% endif %}

                {% for product in products %}
                    <div class="{{ col }}">
                        <a href="{{ product.url }}" class="link">
                            <div style="margin: auto 10%; box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);">
                                <div class="big_pic_container square" style="background-image: url('/images/thumbs/{{ product.pic }}'); width: 100%"></div>
                                <div style="padding: 15px 25px; ">
                                    <div class="row" style="min-height: 4rem">
                                        <h4>{{ product.name }}</h4>
                                    </div>
                                    <div class="row justify-content-between">
                                        <span> {{ product.price|number_format(2) }} лв.</span>
                                        <img src="/pic/ico/search.svg" class="svg">
                                    </div>

                                </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>

    #}
{#Защо да купите растение от Декор Цвет?#}{#

    {% include '/partials/zashto-rastenie.html.twig' %}
{% endblock %}

{% block stylesheets %}
    <style>
        .square {
            width: 50%;
        }

        .square:after {
            content: "";
            display: block;
            padding-bottom: 100%;
        }

        .svg:hover {
            fill: #aacd4e;
        }

        .link, .link:hover {
            color: inherit;
            text-decoration: none;
        }
    </style>

    {{ parent() }}
#}
{% endblock %}