{% extends 'base.html.twig' %}
{% block newCenter %}{% endblock %}

    {% block title %}Градински център{% endblock %}

{% block javascripts %}
    {% set active = ['planting', 'planting2'] %}
    {{ parent() }}
{% endblock %}

    {% block bigpic %}
        {% embed 'partials/big_pic.html.twig' with {
            'big_pic':'bigpic_ozelenjavane.jpg',
            'h1':'ОЗЕЛЕНЯВАНЕ ОТ <br> ДЕКОР ЦВЕТ',
        } %}
        {% endembed %}
    {% endblock %}

    {% block nav2 %}
        {% include ('/partials/nav_ozelenjavane.html.twig') %}
    {% endblock %}

    {% block body %}
        {#Какво правим?#}
        <div class="container my-100">
            <div class="row mb-5">
                <div class="col-lg-8 col-md-6 pl-5">
                    <div class="bl mb-5">
                        <h2>Какво правим?</h2>
                    </div>
                    <div class="px-4 top-bottom">
                        <div>
                            <p>Ние от ДЕКОР ЦВЕТ правим така, че да бъдете близо до природата, независимо дали се намирате у дома, на двора или на работното си място. </p>
                            <p>Именно растенията и зеленината оформят цялостното лице на една сграда и придават завършен вид както на откритите площи, така и на помещенията вътре. В същото време озеленяването (т.нар. ландшафтна архитектура) е цялостен процес, който включва не само поставянето на най-подходящите растения на най-подходящите места предвид Вашите желания и особеностите на терена или обекта, но и създаването на дългосрочна визия за развитието на двора, градината или парка. </p>
                            <p>Затова нашият екип е специализиран в цялостните решения в областта на озеленяването, независимо дали става въпрос за екстериорни проекти като дворове, паркови площи и пространства около работни сгради или за интериорни проекти като жилищни и работни помещения, балкони, тераси и покривно озеленяване. Ние проектираме зелените площи, като се съобразяваме напълно със спецификите на обекта, климатичните условия и желания краен резултат, изграждаме автоматизирана поливна система, изпълняваме проекта и поддържаме целогодишно градината, така че да се наслаждавате на естетиката на кътчето природа в непосредствена близост до Вас.</p>
                        </div>
                        <p class="text-right"><a class="btn-trans" href="{{ path('contact') }}">ПОИСКАЙТЕ ОФЕРТА</a></p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    {% embed "partials/shortcut.html.twig" with {
                        'img':'garden-3276321_1920.jpg',
                        'h':'Защо да наема фирма за озеленяване?',
                        'p':'Изготвянето на проектно решение за озеленяване е процес, в които се визуализират вашите желания и представи за по-естетична и комфортна среда за отдих.',
                        'btn':'toSeeMore.svg',
                        'link': path('zashto_firma'),
                    } %}
                    {% endembed %}
                </div>
            </div>
        </div>

        {#Идеалната градина в пет лесни стъпки#}
        <div class="container my-100">
            <div class="bl mb-5">
                <h2>Идеалната градина в пет лесни стъпки</h2>
            </div>
            <div class="row">
                <div class="col my-5">
                    {% embed "partials/textbackground.html.twig" with {
                        'bg':'1',
                        'h':'Оглед<br>',
                        'p':'Събиране на информация за  пространството и за Вашите желания.',
                    } %}
                    {% endembed %}
                </div>
                <div class="col my-5">
                    {% embed "partials/textbackground.html.twig" with {
                        'bg':'2',
                        'h':'Проект и оферта',
                        'p':'Разработване на проект и изготвяне на детайлна оферта с цени и срокове.',
                    } %}
                    {% endembed %}
                </div>
                <div class="col my-5">
                    {% embed "partials/textbackground.html.twig" with {
                        'bg':'3',
                        'h':'Поливна система',
                        'p':'Изграждане на автоматизирана поливна система.',
                    } %}
                    {% endembed %}
                </div>
                <div class="col my-5">
                    {% embed "partials/textbackground.html.twig" with {
                        'bg':'4',
                        'h':'Изпълнение',
                        'p':'Реализиране на одобрения проект за озеленяване.',
                    } %}
                    {% endembed %}
                </div>
                <div class="col my-5">
                    {% embed "partials/textbackground.html.twig" with {
                        'bg':'5',
                        'h':'Поддръжка',
                        'p':'Поддържане на растенията с гаранция за резултата.',
                    } %}
                    {% endembed %}
                </div>
            </div>
            <p class="text-center my-4"><a class="btn-trans" href="{{ path('kak_rabotim') }}">вижте как работим</a></p>
        </div>

        {#Някои от клиентите ни#}
        <div class="big_pic_container" style="background-image: url('/pic/grass.jpg');height: 180px">
            {#<div class="container">
                <div class="row">
                    <div class="col-lg-4 offset-lg-8 col-md-6 offset-md-6">
                        <div style="margin: 60px 0 60px 0;">
                            <h2>{{ h|raw }}</h2>
                            <p class="text-right"><a class="btn btn-danger mt-5" href="{{ link }}">{{ btn }}</a></p>
                        </div>
                    </div>
                </div>
            </div>#}
        </div>

        {#Защо озеленяване от Декор Цвет?#}
        {% include '/partials/zashto-ozelenjavane.html.twig' %}
    {% endblock %}